* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: relative;
}


#spacer {
  position: absolute; 
  top: 0;
  left: 0;
 
}

.navbar {
    background-color:#137e41 ;
    padding: 12px 20px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 50px;
    color: white;
   
}


#container {
    width: 100vw;
    margin-top: 75px;
    height:calc(100vh - 75px) ;
    overflow: scroll;
    position: relative;
    padding-top: 100px; 
    padding-right: 10px;
    
}


#excelCanvas {
    cursor: cell;
    pointer-events: auto;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 10;
    width: calc(100vw - 15px);
    height: calc(100vh - 75px);
    
}
button{
  background-color: white;
  color:#242424;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 1px 1px 1px 1px rgb(7, 103, 55);
}
#statsDisplay{
  margin-left: auto;
  background-color: #137e41;
  color: white;
  box-shadow: 1px 1px 1px 1px  #106635;
}